extends layout.pug

block content
  main(role="main")
    section#jumbo(class="templatebg" style="background-image: url(/images/banners/"+postBody.id+".jpg);")
    section#articles(class="grid")
      div(class="grid12 padding05")
        article

          div(class="clear")
            div(class="post_top")
              h2= postBody.title
              p #{postAuthor.firstName} #{postAuthor.lastName}
              p= postAuthor.bio
            div(class="post_bottom")
              img(src="/images/avatars/"+postAuthor.id+".jpg")

          p= postBody.body

        section
          h3.com_header Comments

          if postComments.length
            each entry in postComments
              div(class="clear")

                div(class="com_top")
                  img(src="/images/avatars/"+entry.dataValues.userId+".jpg")

                div(class="com_bottom")
                  div(class="com_text")
                    p(class="author") #{entry.dataValues.user.dataValues.firstName} #{entry.dataValues.user.dataValues.lastName}
                    p= entry.dataValues.body

          else
            p No comments yet, be the first!

        section
          h3.com_header Add Comment
          if uuid
            form(action="/comments/new/"+postBody.id method="post")
              input(type="text", name="comment" required)
              button(type="submit") Submit
          else
            p Please sign in to comment
